{% block datagrid_render_attributes %}
{% for name, attribute in attributes %}
 {% spaceless %}{% if name in ['title'] %}{{ name }}="{{ attribute|trans({}, translation_domain) }}" {% else %} {{ " " ~ name }}="{{ attribute }}"{% endif %}{% endspaceless %}
{% endfor %}
{% endblock %}

{% block datagrid_cell_form %}
{% spaceless %}
    <{{ cell.form.wrapper_tag }}{{ datagrid_render_attributes(cell.form.wrapper_attributes, cell.translation_domain) }}>
    {% for child in cell.form.element.children %}
        {% for subchild in child.children %}
            {{ form_label(subchild) }}
            {{ form_errors(subchild) }}
            {{ form_widget(subchild) }}
        {% endfor %}
    {% endfor %}
    {% if cell.form.submit == true %}
        <input type="submit"{{ datagrid_render_attributes(cell.form.submit_attributes, cell.translation_domain) }}/>
    {% endif %}
    </{{ cell.form.wrapper_tag }}>
{% endspaceless %}
{% endblock %}

{% block datagrid_cell_action %}
{% spaceless %}
    {% for action_name, action in cell.value %}
        <a href="{{ action.url }}"{{ datagrid_render_attributes(cell['anchors'][action_name]['attributes'], cell.translation_domain) }}>{{ action.anchor|trans({}, cell.translation_domain) }}</a>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block datagrid_cell %}
{% spaceless %}
    <{{ cell.tag }}{{ datagrid_render_attributes(cell.value_attributes, cell.translation_domain) }}>
    {% if cell.type == 'action' %}
        {{ block('datagrid_cell_action') }}
    {% else %}
        {{ cell.value|raw }}
    {% endif %}
    </{{ cell.tag }}>
    {% if cell.form is not empty %}
        {{ block('datagrid_cell_form') }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block datagrid_header_column_table %}
{% spaceless %}
    <th{{ datagrid_render_attributes(column.wrapper_attributes, column.translation_domain) }}>
        <{{ column.tag }}{{ datagrid_render_attributes(column.label_attributes, column.translation_domain) }}>{{ column.label|trans({}, column.translation_domain) }}</{{ column.tag }}>
    </th>
{% endspaceless %}
{% endblock %}


{% block datagrid_header_table %}
{% spaceless %}
<tr>
    {% for column in columns %}
        {{ block('datagrid_header_column_table') }}
    {% endfor %}
</tr>
{% endspaceless %}
{% endblock %}

{% block datagrid_rowset_row_cell_table %}
{% spaceless %}
    <td{{ datagrid_render_attributes(cell.wrapper_attributes, cell.translation_domain) }}>
        {{ block('datagrid_cell') }}
    </td>
{% endspaceless %}
{% endblock %}

{% block datagrid_rowset_row_table %}
{% spaceless %}
    <tr>
        {% for cell in row.cells %}
            {{ block('datagrid_rowset_row_cell_table') }}
        {% endfor %}
    </tr>
{% endspaceless %}
{% endblock %}

{% block datagrid_rowset_table %}
{% spaceless %}
    {% for row in rowset %}
        {{ block('datagrid_rowset_row_table') }}
    {% endfor %}
{% endspaceless %}
{% endblock %}
