{% block datagrid_attributes %}
{% for name, attribute in attributes %}
 {% spaceless %}{% if name in ['title'] %}{{ name }}="{{ attribute|trans({}, translation_domain) }}" {% else %} {{ " " ~ name }}="{{ attribute }}"{% endif %}{% endspaceless %}
{% endfor %}
{% endblock %}

{% block datagrid_cell_form %}
{% spaceless %}
    <{{ cell.form.wrapper_tag }}{{ datagrid_attributes_widget(cell.form.wrapper_attributes, cell.translation_domain) }}>
    {% for child in cell.form.element.children %}
        {% for subchild in child.children %}
            {{ form_label(subchild) }}
            {{ form_errors(subchild) }}
            {{ form_widget(subchild) }}
        {% endfor %}
    {% endfor %}
    {% if cell.form.submit == true %}
        <input type="submit"{{ datagrid_attributes_widget(cell.form.submit_attributes, cell.translation_domain) }}/>
    {% endif %}
    </{{ cell.form.wrapper_tag }}>
{% endspaceless %}
{% endblock %}

{% block datagrid_cell_action %}
{% spaceless %}
    {% for action_name, action in cell.value %}
        <a href="{{ action.url }}"{{ datagrid_attributes_widget(cell['anchors'][action_name]['attributes'], cell.translation_domain) }}>{{ action.anchor|trans({}, cell.translation_domain)|raw }}</a>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block datagrid_column_header %}
{% spaceless %}
    <th{{ datagrid_attributes_widget(header.wrapper_attributes, header.translation_domain) }}>
        <{{ header.tag }}{{ datagrid_attributes_widget(header.label_attributes, header.translation_domain) }}>{{ header.label|trans({}, header.translation_domain) }}</{{ header.tag }}>
    </th>
{% endspaceless %}
{% endblock %}

{% block datagrid_header %}
{% spaceless %}
<tr>
    {% for header in headers %}
        {{ datagrid_column_header_widget(header) }}
    {% endfor %}
</tr>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_cell %}
{% spaceless %}
    <td{{ datagrid_attributes_widget(cell.wrapper_attributes, cell.translation_domain) }}>
        <{{ cell.tag }}{{ datagrid_attributes_widget(cell.value_attributes, cell.translation_domain) }}>
        {% if cell.column_type == 'action' %}
            {{ block('datagrid_cell_action') }}
        {% else %}
            {{ cell.value|raw }}
        {% endif %}
        </{{ cell.tag }}>
        {% if cell.form is not empty %}
            {{ block('datagrid_cell_form') }}
        {% endif %}
    </td>
{% endspaceless %}
{% endblock %}

{% block datagrid_rowset %}
{% spaceless %}
    {% for index, row in rowset %}
        <tr id="{{ grid_name }}_{{ index }}">
            {% for cell in row.cells %}
                {{ datagrid_column_cell_widget(cell) }}
            {% endfor %}
        </tr>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block datagrid %}
{% spaceless %}
    <table{{ datagrid_attributes_widget(wrapper_attributes) }}>
        <thead>
            {{ datagrid_header_widget(datagrid) }}
        </thead>
        <tbody>
            {{ datagrid_rowset_widget(datagrid) }}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}