{% block datagrid_column_type_action_cell %}
{% spaceless %}
    <td>
        <div>
            {% for action_name, action in cell.value %}
                <a href="{{ action.url }}">{{ action.anchor|trans({}, translation_domain)|raw }}</a>
            {% endfor %}
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_header %}
{% spaceless %}
    <th>
        <span>{{ header.label|trans({}, translation_domain) }}</span>
    </th>
{% endspaceless %}
{% endblock %}

{% block datagrid_header %}
{% spaceless %}
<tr>
    {% for header in headers %}
        {{ datagrid_column_header_widget(header) }}
    {% endfor %}
</tr>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_cell_form %}
{% spaceless %}
    <div>
    {% for child in form.children %}
        {% for subchild in child.children %}
            {{ form_label(subchild) }}
            {{ form_errors(subchild) }}
            {{ form_widget(subchild) }}
        {% endfor %}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_cell %}
{% spaceless %}
    <td>
        <div>
            {{ cell.value|raw }}
            {{ datagrid_column_cell_form_widget(cell) }}
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{% block datagrid_rowset %}
{% spaceless %}
    {% for index, row in datagrid %}
        <tr>
            {% for cell in row %}
                {{ datagrid_column_cell_widget(cell) }}
            {% endfor %}
        </tr>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block datagrid %}
{% spaceless %}
    <table>
        <thead>
            {{ datagrid_header_widget(datagrid) }}
        </thead>
        <tbody>
            {{ datagrid_rowset_widget(datagrid) }}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}