{% block datagrid_column_type_batch_header %}
    {% apply spaceless %}
        <th>
            <input type="checkbox" id="{{ header.attribute('datagrid_name') }}_{{ header.type }}"/>
            <script type="text/javascript">
                (function (w) {
                    var header = w.document.getElementById('{{ header.attribute('datagrid_name') }}_{{ header.type }}');

                    header.onclick = function() {
                        var elements = w.document.getElementsByClassName('{{ header.attribute('datagrid_name') }}_{{ header.type }}'),
                            i = 0;

                        for (i; i < elements.length; i++) {
                            elements[i].checked = this.checked;
                        }
                    }
                }(window));
            </script>
        </th>
    {% endapply %}
{% endblock %}

{% block datagrid_column_type_batch_cell %}
{% apply spaceless %}
    <td>
        <input type="checkbox" name="{{ cell.attribute('datagrid_name') }}_{{ cell.type }}[]" value="{{ cell.value }}" class="{{ cell.attribute('datagrid_name') }}_{{ cell.type }}" />
    </td>
{% endapply %}
{% endblock %}

{% block datagrid_column_type_action_cell_action %}
<a {% for attrname, attrvalue in attr %}{% if attrname == 'title' %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}>{{ content|trans({}, translation_domain)|raw }}</a>
{% endblock %}

{% block datagrid_column_type_action_cell %}
{% apply spaceless %}
    <td>
        <div>
            {% for action_name, action in cell.value %}
                {{ datagrid_column_type_action_cell_action_widget(
                    cell,
                    action_name,
                    action.content,
                    action.url_attr,
                    action.field_mapping_values
                ) }}
            {% endfor %}
        </div>
    </td>
{% endapply %}
{% endblock %}

{% block datagrid_column_header %}
{% apply spaceless %}
{% if header.label == header.name %}
    {% set label =  header.label|humanize|trans({}, translation_domain)  %}
{% else %}
    {% set label =  header.label|trans({}, translation_domain)  %}
{% endif %}
    <th>
        <span>{{ label }}</span>
    </th>
{% endapply %}
{% endblock %}

{% block datagrid_header %}
{% apply spaceless %}
<tr>
    {% for header in headers %}
        {{ datagrid_column_header_widget(header) }}
    {% endfor %}
</tr>
{% endapply %}
{% endblock %}

{% block datagrid_column_cell_form %}
<div>
{% for child in form.children %}
    {% for subchild in child.children %}
        {{ form_label(subchild) }}
        {{ form_errors(subchild) }}
        {{ form_widget(subchild) }}
    {% endfor %}
{% endfor %}
</div>
{% endblock %}

{% block datagrid_column_cell %}
{% apply spaceless %}
<td>
    <div>
        {% endapply %}{{ cell.value|raw }}{{ datagrid_column_cell_form_widget(cell) }}{% apply spaceless %}
    </div>
</td>
{% endapply %}
{% endblock %}

{% block datagrid_rowset %}
{% apply spaceless %}
    {% for index, row in datagrid %}
        <tr>
            {% for cell in row %}
                {{ datagrid_column_cell_widget(cell) }}
            {% endfor %}
        </tr>
    {% endfor %}
{% endapply %}
{% endblock %}

{% block datagrid %}
{% apply spaceless %}
    <table>
        <thead>
            {{ datagrid_header_widget(datagrid) }}
        </thead>
        <tbody>
            {{ datagrid_rowset_widget(datagrid) }}
        </tbody>
    </table>
{% endapply %}
{% endblock %}
